

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body data-smooth-scroll-offset="77">
       <!--  <div class="nav-container">I Just wont to test
            <div class="via-1514865900670" via="via-1514865900670" vio="Creatnet">
                <nav class="bar bar-toggle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 col-xs-3">
                        <%= image_tag('logo-dark.png', class: 'unmarg--bottom', alt: 'Image') %>
                        <%= image_tag('logo-light.png', class: 'unmarg--bottom', alt: 'logo') %>
                            </div>
                            <div class="col-md-11 col-sm-10 col-xs-9">
                                <div class="bar__module">
                                    <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu"> <i class="stack-interface stack-menu"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="#">
                    <div class="side-menu__module pos-vertical-center text-right">

                            <ul class="menu-vertical">
                               <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Home
                                </li>   
                                   <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Team
                                </li>   
                                <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Meet Our Tailors
                                </li>   
                                  <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Partner with Us
                                </li>
                        </ul>
                    </div>
                    <div class="side-menu__module pos-bottom pos-absolute col-xs-12 text-right">
                        <ul class="social-list list-inline list--hover">
                         <li data-filter="*" class="socicon socicon-google icon icon--xs"></li>
                         <li data-filter="*" class="socicon socicon-twitter icon icon--xs"></li>
                         <li data-filter="*" class="socicon socicon-facebook icon icon--xs"></li>
                         <li data-filter="*" class="socicon socicon-instagram icon icon--xs"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

 <div class="container">
<div class="row">
<nav class="bar bar-toggle">
<div class="row">
 <div class="col-md-1 col-sm-2 col-xs-3">
<%= image_tag('logo-dark.png', class: 'unmarg--bottom', alt: 'Image') %>
 <%= image_tag('logo-light.png', class: 'unmarg--bottom', alt: 'logo') %>
 </div>

   <div class="col-md-11 col-sm-10 col-xs-2">
<div class="bar__module" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
<a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu"> <i class="stack-interface stack-menu"></i> </a>
</div></div>
     <div class="col-md-11 col-sm-10 col-xs-7">
    <div class="side-menu__module pos-vertical-center text-right">

                            <ul class="menu-vertical">
                              <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Home
                                </li>   
                                    <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Team
                                </li>   
                                <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Meet Our Tailors
                                </li>   
                                 <%= link_to "<i class=\"h4\"></i>".html_safe, "#"-%>Partner with Us
                                </li>
                                 </ul>
 </div>
</div>
 </div>
 </nav>
</div>
</div>



        <div class="main-container">
            <section class="cover height-80 imagebg text-center" data-overlay="5">
                <div class="background-image-holder background--top">
                      <%= image_tag('landing-1.jpg',  alt: 'background') %>
                     </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8">
                      <%= image_tag('headline-1.png', class: 'unmarg--bottom', alt: 'Image') %>

                        
                            <h3> A Modern Sourcing &amp; Design Company that Specializes in Craftsmanship, Small Quantities and Quick Response for Online Retail.</h3>
                        </div>
                    </div>
                </div>
            </section>
            <section class="imageblock switchable feature-large">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder"> 
                        <%= image_tag('education-5.jpg', alt: 'image') %>
                       
                       </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h2>How We Got Here....</h2>
                            <p class="lead">The concept of Creatnet emerged in 1999, with a dream...a dream to carve a niche market in small upscale womenswear.<br><br> In our 18 year journey across the globe, we have traversed triumphantly through changing markets, recessions and finally the shift to online shopping. Our enthusiasm for high quality and emerging trends matches well with the expectations of our clients. We continue to grow alongside our clients and support them from creative designer brands to global corporations.<br><br> Our nimble supply chain, state-of- the-art design teams and innovative craftsmen have become synonymous with the modern, traveled and aware woman. I along with Darshan Bhat, our Managing Director, and the entire team invite you to join our joyful journey. <br><br> - Garima Bhat.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                        <%= image_tag('cowork-1.jpg', alt:'Image') %>

                            
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>Quick Response</h3>
                                    <p class="lead"> timing is everything.</p> <a href="#">
                            Learn More
                        </a> </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1"> 

                               <%= image_tag('landing-1.jpg', alt:'Image') %>
                                
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>Small Quantities</h3>
                                    <p class="lead">built for test and repeats</p> <a href="#">
                            Learn More
                        </a> </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1"> 
                                <%= image_tag('inner-6.jpg', alt:'Image') %>
                                
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>Beautiful Design</h3>
                                    <p class="lead">to inspire, create and produce.</p> <a href="#">
                            Learn More
                        </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="feature-large feature-large-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h3>Transparency &amp; Sustainability</h3>
                            <p class="lead"> We at Creatnet no longer look to the past for how we should work for the future. As a company we are dedicated to providing fabrics, materials and processes that are no longer harmful to our environment or customers, in addition to providing fair wages and benefits to all of our craftsmen and tailors.<br> </p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-md-offset-1">
                            <%= image_tag('landing-7.jpg', class:'border--round box-shadow-wide', alt:'Image') %>
                       </div>
                        <div class="col-sm-4 col-md-2 col-md-offset-1">
                            <hr class="short">
                            <p> Creatnet is making a pledge to incorporate sustainable and ethical fabrics such as organic cotton, bamboo, soy, hemp and natural dyes so that our clothes are as good as they make our client feel. With India’s core historical strengths in natural fabrics processing, we are ablate provide you the quality, volume and price for modern silhouettes. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1>Original</h1>
                            <p class="lead"> Creatnet has spent close to two decades building an architecture that can not be matched in India. From a network of factories and proprietary factories we are able to adjust and be flexible to ever-changing needs. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="masonry masonry--gapless">
                    <div class="masonry-filter-container text-center"> <span>LookBook</span>
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Categories">
                                <ul>
                                    <li data-filter="*" class="active"><span>All Categories</span></li>
                                    <li data-filter="design"><span>design</span></li>
                                <li data-filter="marketing"><span>marketing</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="masonry__container bg--secondary masonry--active">
                        <div class="col-sm-4 col-xs-12 masonry__item filter-marketing" data-masonry-filter="Marketing">
                            <div class="project-thumb hover-element height-40">
                                <a href="#">
                                    <div class="hover-element__initial">
                                        <div class="background-image-holder"> 
                                            <%= image_tag('work-6.jpg', alt:'background') %>
                                           
                                    </div>
                                    <div class="hover-element__reveal" data-overlay="9">
                                        <div class="project-thumb__title">
                                            <h5>Nike Active</h5> <span>Digital Marketing</span> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 masonry__item filter-design" data-masonry-filter="Design">
                            <div class="project-thumb hover-element height-40">
                                <a href="#">
                                    <div class="hover-element__initial">
                                        <div class="background-image-holder"> 
                                            <%= image_tag('work-1.jpg', alt:'background')%>
                                            </div>
                                    </div>
                                    <div class="hover-element__reveal" data-overlay="9">
                                        <div class="project-thumb__title">
                                            <h5>Unvest Capital</h5> <span>Brand Collateral</span> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 masonry__item filter-design" data-masonry-filter="Design">
                            <div class="project-thumb hover-element height-40">
                                <a href="#">
                                    <div class="hover-element__initial">
                                        <div class="background-image-holder"> 
                                            <%= image_tag('work-1.jpg', alt:'background') %>
                                             </div>
                                    </div>
                                    <div class="hover-element__reveal" data-overlay="9">
                                        <div class="project-thumb__title">
                                            <h5>Unvest Capital</h5> <span>Brand Collateral</span> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable imagebg" data-overlay="4">
                <div class="background-image-holder"> 
                    <%= image_tag('hero-1.jpg', alt:'background') %>
                 </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="map-container border--round" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-address="123 Rathdowne street, Carlton Victoria" data-marker-title="Stack" data-map-style="[{&quot;featureType&quot;:&quot;landscape&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFBB00&quot;},{&quot;saturation&quot;:43.400000000000006},{&quot;lightness&quot;:37.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFC200&quot;},{&quot;saturation&quot;:-61.8},{&quot;lightness&quot;:45.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:51.19999999999999},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:52},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#0078FF&quot;},{&quot;saturation&quot;:-13.200000000000003},{&quot;lightness&quot;:2.4000000000000057},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#00FF6A&quot;},{&quot;saturation&quot;:-1.0989010989011234},{&quot;lightness&quot;:11.200000000000017},{&quot;gamma&quot;:1}]}]" data-map-zoom="15"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="text-block">
                                <p class="lead">Want to be a part of the Creatnet Services Family?&nbsp;</p>
                                <p class="lead"> Take a look at our Linked In Page for current job postings, or contact Stuti Gupta directly at: stuti.gupta@creatnet.in</p>
                                <p class="lead">Looking to collaborate with us for your production? Leave us a message and we will get back to you at our earliest!</p>
                            </div>
                            <div class="row">
                                <form class="form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                    <div class="col-sm-6 col-xs-12"> <label>Your Name:</label> <input type="text" name="Name" class="validate-required"> </div>
                                    <div class="col-sm-6 col-xs-12"> <label>Email Address:</label> <input type="email" name="email" class="validate-required validate-email"> </div>
                                    <div class="col-sm-12 col-xs-12"> <label>Message:</label> <textarea rows="3" name="Message" class="validate-required"></textarea> </div>
                                    <div class="col-sm-5 col-md-4 col-xs-6"> <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      
    </body>
